@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: #000;
}
header img {
    position: relative;
    max-width: 8vh;
}
nav a {
    position: relative;
    padding: 6px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
nav a:hover {
    color: #986b4b;
}
nav a span {
    position: absolute;
    top: 0;
    width: 0;
    right: 0.1vh;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-bottom: 3px solid #986b4b;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: 0.5s;
}
nav a:hover span {
    transform: scale(1) translateY(0);
}
.bg {
    display: flex;
    min-height: 100vh;
    background: url(Images/403405939_732031211714211_8371491805742180703_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
    top: 20vh;
    color: #100b08;
    backdrop-filter: blur(8px);
}
.content1 {
    padding: 40px;
    font-size: 1.5em;
}
.content1 p {
    animation: TransitionIn 1.5s;
}
.content1 h1 {
    font-family: 'Poppins', sans-serif;
    animation: TransitionIn 0.5s;
}
.content2 {
    padding: 40px;
    font-size: 1.5em;
}
.content2 p {
    animation: TransitionIn 2s;
}
.content2 h1{
    font-family: 'Poppins', sans-serif;
    animation: TransitionIn 1s;
}
@keyframes TransitionIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}