@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@100;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: #050302;
}
header img {
    position: relative;
    max-width: 8vh;
}
nav a {
    position: relative;
    padding: 6px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
nav a:hover {
    color: #986b4b;
}
nav a span {
    position: absolute;
    top: 0;
    width: 0;
    right: 0.1vh;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-bottom: 3px solid #986b4b;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: 0.5s;
}
nav a:hover span {
    transform: scale(1) translateY(0);
}

.media {
    position: absolute;
    border: 5px #000;
    border-radius: 20px;
    background: #fff;
    width: 350px;
    padding: 25px;
    right: 100vh;
    top: 46vh;
    animation: TransitionIn 1.5s;
}
.facebook {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.facebook img {
    max-width: 3em;
}
.facebook p {
    padding-top: 34px;
    padding: 2px;
    float: right;
    color: #000;
}

.instagram {
    display: flex;
    align-items: center;
    padding-bottom: 23px;
}
.instagram img {
    max-width: 3em;
}
.instagram p {
    padding: 2px;
    float: right;
    color: #000;
}
.twitterX {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.twitterX img {
    max-width: 3em;
}
.twitterX p {
    padding: 2px;
    float: right;
    color: #000;
}
.content {
    padding: 25px;
    position: absolute;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 350px;
    height: 254px;
    top: 15vh;
    right: 100vh;
    animation: TransitionIn 1s;
}
.content h2 {
    padding-bottom: 24px;
    font-weight: 900;
}
@keyframes TransitionIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.bg {
    display: flex;
    min-height: 100vh;
    background: url(Images/346130692_6215172935263533_775699248036606376_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}